# --- Ignore the Heavy Weights ---
model/*.safetensors
model/*.bin
model/*.pt
model/checkpoint-*/

# --- Ignore Environment & Cache ---
venv/
.venv/
__pycache__/
*.pyc
.ipynb_checkpoints/
.DS_Store

# --- Docker Junk ---
.env
.dockerignore